<div class="container mtb">
    {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
    <div class="row">
        {% assign projects = site.projects | where:"categories", "Project" %}
        {% for project in projects limit:include.limit %}
        <div class="col-lg-3 col-sm-4 col-xs-12">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6 centered">
                <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                            <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
